<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= @feed_data[:title] %></title>
    <description><%= @feed_data[:description] %></description>
    <link><%= @feed_data[:link] %></link>
    <atom:link href="<%= blog_feed_url(format: :rss) %>" rel="self" type="application/rss+xml" />
    <language>en-us</language>
    <lastBuildDate><%= Time.current.rfc2822 %></lastBuildDate>
    <generator>ShikshaGuru Blog System</generator>
    
    <% @feed_data[:posts].each do |post| %>
      <item>
        <title><%= post[:title] %></title>
        <link><%= post[:link] %></link>
        <description><![CDATA[<%= post[:description] %>]]></description>
        <pubDate><%= post[:pub_date]&.rfc2822 %></pubDate>
        <author><%= post[:author] %></author>
        <guid><%= post[:link] %></guid>
        <% post[:categories].each do |category| %>
          <category><%= category %></category>
        <% end %>
      </item>
    <% end %>
  </channel>
</rss>